//- {
//-   path: string;
//-   image: string;
//-   format: string;
//-   width: number;
//-   height: number;
//-   altText: string;
//- }

mixin img({path, image, format, width, height, altText})
  img(src= `img/${path}/${image}.${format}`,
    srcset= `img/${path}/${image}@2x.${format} 2x`,
    width= width,
    height= height,
    alt= altText)
