mixin modal(data)
  - const {title, modalId} = data;

  .modal(aria-hidden="true" id=modalId)
    .modal__overlay(data-micromodal-close tabindex="-1")
      .modal__container(
        role="dialog"
        aria-modal="true"
        aria-labelledby="modal-1-title")
        header.modal__header
          h2.modal__title(id=`${modalId}-title`) !{title}
          button.modal__close(aria-label="Close modal" data-micromodal-close)
            +icon({name: 'icon-close', width: 30, height: 30})
        .modal__content
          block content
        block footer
          footer.modal__footer
            +button({label: "continue"})
